output/changes_raw/
output/planned_raw/
test_parquet/
test_range/
train_movements/
datasets/DBahn-berlin/timetable_changes/
datasets/DBahn-berlin/timetables/
datasets/DBahn-berlin/readme.md
datasets/DBahn-berlin/schema.json
datasets/DBahn-berlin/station_data.json