output/changes_raw/
output/planned_raw/
output/test_parquet/
output/test_range/
output/train_movements/
datasets/DBahn-berlin/timetable_changes/
datasets/DBahn-berlin/timetables/
datasets/DBahn-berlin/readme.md
datasets/DBahn-berlin/schema.json
datasets/DBahn-berlin/station_data.json